<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <span th:replace="~{exercice3/index :: bootstrap}"></span>
</head>
<body>

<form th:action="@{/add}" method="post" th:object="${student}">
    <input th:field="*{id}" hidden>
    <div>
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" th:field="*{firstName}">
    </div>
    <div>
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" th:field="*{lastName}">
    </div>
    <div>
        <label for="age">Age</label>
        <input type="text" id="age" th:field="*{age}">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" th:field="*{email}">
    </div>
    <button>Ajouter</button>
</form>
<a th:href="@{/index}"><button>Retour</button></a>
</body>
</html>